@tailwind base;
@tailwind components;
@tailwind utilities;

.nav::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 50%;
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.D {
  border: 20px solid #fff;
  height: 105px;
  display: inline-block;
  margin-inline: 5px;
  width: 200px;
  border-radius: 0 50px 50px 0;
}
@media (max-width: 600px) {
  .D {
    border-width: 8px;
    height: 35px;
    width: 80px;
    display: inline-block;
    border-radius: 0 50px 50px 0;
  }
}
.img::before {
  content: '';
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
  height: 200px;
  width: 100%;
  position: absolute;
  left: 0;
  top: -25px;
  z-index: -1;
  border-top-left-radius: 140px;
}

.about-section {
  color: #c7c7c7 !important;
}
.about-section b {
  color: hsl(var(--bc));
}

.awsomeColor {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;
  background: #7aebfb;
  filter: blur(190px);
}
.awsomeColor2 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;
  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}
.awsomeColor3 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;
  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
  z-index: 0;
}
.awsomeColor4 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;
  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
  z-index: -1;
}
.awsomeColor5 {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;
  background: #8d39a3;
  filter: blur(175px);
}
.awsomeColor6 {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;
  background: #65c4fa;
  filter: blur(150px);
}
.loading-img-div::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  animation: pulse 2.5s infinite;
  background-color: rgba(255, 255, 255, 0.1);
  inset: 0;
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

.loading-img {
  backdrop-filter: blur(10px);
}
.nav-content {
  visibility: hidden;
  clip-path: circle(23px at 50% 0%);
  transition: all 0.2s ease-in-out;
}
.nav-content.opened {
  visibility: visible;
  clip-path: circle(100%);
}
